@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #000018, #103960);
    }
    section#login{
        width: 90vw;
        height: 400px;
    }

    section#login > div#imagem{
        background-size: cover;
        background-position: center;
        float: left;
        width: 53%;
        height: 100%;

    }

    section#login > div#formulario{
        float: right;
        width: 45%;
    }

    div#formulario > h1{
        text-align: center;
        margin: 20px;
    }

    div#formulario > p{
        font-size: 1em;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 990px) {
    body{
        background-image: linear-gradient(to top, #000018, #103960);
    }

    section#login{
        width: 900px;
        height: 450px;
    }

    section#login > div#imagem{
        float: left;
        width: 53%;
        height: 100%;
        background-size: cover;
    }

    section#login > div#formulario{
        float: right;
        width: 45%;
    }

     div#formulario > h1{
        margin: 20px;
        text-align: center;
        font-size: 2em;
    }

    div#formulario > p{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
}